<a href="https://colab.research.google.com/github/clauglock/Mi_proyecto/blob/main/Clase_1_26_05_25_Ejercicios_CGL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Ejercicio 1

Crea 3 variables: nombre (string), edad (int), altura (float). Muestra un mensaje usando esas variables

In [1]:
# Declaración de variables
nombre = "Claudia"
edad = 55
altura = 1.57

# Mostrar mensaje
print(f"Hola, mi nombre es {nombre}, tengo {edad} años y mido {altura} metros.")

Hola, mi nombre es Claudia, tengo 55 años y mido 1.57 metros.

#Ejercicio 2

Pide dos números al usuario y muestra la suma, resta, multiplicación y división

In [2]:
# Pedir dos números al usuario
num1 = float(input("Ingresa el primer número: "))
num2 = float(input("Ingresa el segundo número: "))

# Realizar operaciones
suma = num1 + num2
resta = num1 - num2
multiplicacion = num1 * num2
division = num1 / num2 if num2 != 0 else "Indefinido (división por cero)"

# Mostrar resultados
print(f"Suma: {suma}")
print(f"Resta: {resta}")

Ingresa el primer número: 23
Ingresa el segundo número: 34
Suma: 57.0
Resta: -11.0

#Ejercicio 3

Pide dos números al usuario y muestra la raiz y potencia del primer número con el segundo

In [4]:
# Pedir dos números al usuario
num1 = float(input("Ingresa el primer número: "))
num2 = float(input("Ingresa el segundo número: "))

# Calcular raíz cuadrada y potencia
raiz = math.sqrt(num1) if num1 >= 0 else "Indefinido (no se puede calcular la raíz de un número negativo)"
potencia = num1 ** num2

# Mostrar resultados
print(f"Raíz cuadrada de {num1}: {raiz}")
print(f"{num1} elevado a la potencia de {num2}: {potencia}")

Ingresa el primer número: 22
Ingresa el segundo número: 33
Raíz cuadrada de 22.0: 4.69041575982343
22.0 elevado a la potencia de 33.0: 1.9950255735593596e+44

#Ejercicio 4

Pide al usuario su nombre y apellido, muestra su nombre completo en mayúsculas

In [5]:
# Pedir nombre y apellido al usuario
nombre = input("Ingresa tu nombre: ")
apellido = input("Ingresa tu apellido: ")

# Mostrar nombre completo en mayúsculas
nombre_completo = f"{nombre} {apellido}".upper()
print(f"Tu nombre completo en mayúsculas es: {nombre_completo}")

Ingresa tu nombre: Clau
Ingresa tu apellido: GLock
Tu nombre completo en mayúsculas es: CLAU GLOCK

#Ejercicio 5

- Crea una lista con 5 comidas favoritas
- Agrega una nueva comida
- Elimina una comida
- Muestra la lista actualizada

In [16]:
# Crear lista con 5 comidas favoritas
comidas_favoritas = ["Pizza", "Sushi", "Pasta", "Tacos", "Hamburguesa"]

# Agregar una nueva comida
comidas_favoritas.append("Ceviche")

# Eliminar una comida
comidas_favoritas.remove("Tacos")

# Mostrar la lista actualizada
print("Lista actualizada de comidas favoritas:")
print(comidas_favoritas)

Lista actualizada de comidas favoritas:
['Pizza', 'Sushi', 'Pasta', 'Hamburguesa', 'Ceviche']

#Ejercicio 6

Crea una lista con 3 colores. Intercambia el primer y último color

In [21]:
# Crear lista con 3 colores
colores = ["Lila", "Amarillo", "Azul"]

# Intercambiar el primer y último color
colores[0], colores[-1] = colores[-1], colores[0]

# Mostrar la lista actualizada
print("Lista actualizada de colores:")
print(colores)

Lista actualizada de colores:
['Azul', 'Amarillo', 'Lila']

#Ejercicio 7

Crea una tupla con 3 elementos. Muestra el segundo elemento

In [20]:
# Crear una tupla con 3 elementos
mi_tupla = ("lapiz", "Cuaderno", "Libro")

# Mostrar el segundo elemento
print(f"El segundo elemento es: {mi_tupla[1]}")

El segundo elemento es: Cuaderno

#Ejercicio 8

Crea un diccionario con datos de una película: nombre, director y año. Muestra el nombre y el director

In [23]:
# Crear diccionario con datos de una película
pelicula = {  "nombre": "2012", "director": "EL director","año": 2012}

# Mostrar el nombre y el director
print(f"Nombre de la película: {pelicula['nombre']}")
print(f"Director: {pelicula['director']}")

Nombre de la película: 2012
Director: EL director

#Ejercicio 9

Tienes una lista de números desordenados
numeros = [8, 3, 5, 1, 9]

- Paso 1: Agrega el número 7 a la lista
- Paso 2: Elimina el número que está en la posición 2
- Paso 3: Ordena la lista de menor a mayor
- Paso 4: Muestra la lista final

In [31]:
# Lista inicial de números
numeros = [8, 3, 5, 1, 9]

# Paso 1: Agregar el número 7 a la lista
numeros.append(7)

# Paso 2: Eliminar el número en la posición 2 (recordando que las listas comienzan en índice 0)
del numeros[2]

# Paso 3: Ordenar la lista de menor a mayor
numeros.sort()
# Paso 4: Mostrar la lista final
print("Lista final ordenada:", numeros)

Lista final ordenada: [1, 3, 7, 8, 9]

#Ejercicio 10

Tienes el siguiente diccionario:
mascota = {
    "nombre": "Luna",
    "tipo": "gato",
    "edad": 3
}

- Paso 1: Cambia el valor de "edad" a 4
- Paso 2: Agrega una nueva clave llamada "color" con el valor "gris"
- Paso 3: Elimina la clave "tipo"
- Paso 4: Muestra el diccionario final

In [34]:
# Diccionario inicial
mascota = { "nombre": "Luna", "tipo": "gato", "edad": 3 }

# Paso 1: Cambiar el valor de "edad" a 4
mascota["edad"] = 4

# Paso 2: Agregar la clave "color" con el valor "gris"
mascota["color"] = "gris"

# Paso 3: Eliminar la clave "tipo"
del mascota["tipo"]

# Paso 4: Mostrar el diccionario final
print("Diccionario actualizado:", mascota)

Diccionario actualizado: {'nombre': 'Luna', 'edad': 4, 'color': 'gris'}

#Ejercicio 11

datos = {
    "valores": [3, 9, 1, 6, 4]
}

- Encuentra el valor máximo y mínimo usando max() y min()
- Multiplica esos dos valores y muestra el resultado

In [38]:
# Diccionario con lista de valores
datos = { "valores": [3, 9, 1, 6, 4] }

# Encontrar el valor máximo y mínimo
maximo = max(datos["valores"])
minimo = min(datos["valores"])

# Multiplicar los valores
resultado = maximo * minimo

# Mostrar el resultado
print(f"Valor máximo: {maximo}")
print(f"Valor mínimo: {minimo}")
print(f"Multiplicación de ambos valores: {resultado}")

Valor máximo: 9
Valor mínimo: 1
Multiplicación de ambos valores: 9

#Ejercicio 12

datos = {
    "numeros": [2, 7, 4, 9],
    "factor": 3
}

- Paso 1: Obtén el número mayor de la lista "numeros" usando max()
- Paso 2: Multiplica ese número por el valor de "factor"
- Paso 3: Resta 5 al resultado
- Paso 4: Muestra el resultado final

In [39]:
# Diccionario con lista de números y un factor
datos = { "numeros": [2, 7, 4, 9], "factor": 3 }

# Paso 1: Obtener el número mayor de la lista
mayor = max(datos["numeros"])

# Paso 2: Multiplicar el número mayor por el factor
resultado = mayor * datos["factor"]

# Paso 3: Restar 5 al resultado
resultado -= 5

# Paso 4: Mostrar el resultado final
print(f"Resultado final: {resultado}")

Resultado final: 22

#Ejercicio 13

Crea 2 diccionarios, el primero debe tener los datos nombre, edad y ciudad. El segundo debe tener edad y profesión. Todas las claves deben tener al menos 1 valor.

- Paso 1: Actualiza la edad del primer diccionario con la edad del segundo diccionario
- Paso 2: Agrega la profesión al primer diccionario
- Paso 3: Crea y muestra un str que diga: "'nombre' tiene 'edad' años y es 'profesión'"

In [43]:
# Crear los diccionarios
persona1 = {"nombre": "Claudia", "edad": 28, "ciudad": "Santiago"}
persona2 = {"edad": 55, "profesion": "Ing"}

# Paso 1: Actualizar la edad del primer diccionario con la edad del segundo
persona1["edad"] = persona2["edad"]

# Paso 2: Agregar la profesión al primer diccionario
persona1["profesion"] = persona2["profesion"]

# Paso 3: Crear y mostrar el mensaje
mensaje = f"{persona1['nombre']} tiene {persona1['edad']} años y es {persona1['profesion']}."
print(mensaje)

Claudia tiene 55 años y es Ing.

#Ejercicio 14

- Crea 2 listas de al menos 5 elementos cada una y unelas.
- Cambia el sexto elemento de la nueva lista por otra lista con 3 nombres.
- Agregar un nuevo nombre a la lista de nombres dentro de la lista.

In [45]:
# Crear dos listas con al menos 5 elementos cada una
lista1 = ["Manzana", "Pera", "Cereza", "Durazno", "FResa"]
lista2 = ["Perro", "Gato", "Conejo", "Raton", "Leon"]

# Unir ambas listas
lista_combinada = lista1 + lista2

# Cambiar el sexto elemento por otra lista con 3 nombres
lista_combinada[5] = ["Clau", "Vixo", "Nelo"]

# Agregar un nuevo nombre a la lista dentro de la lista
lista_combinada[5].append("Mota")

# Mostrar la lista actualizada
print("Lista actualizada:", lista_combinada)

Lista actualizada: ['Manzana', 'Pera', 'Cereza', 'Durazno', 'FResa', ['Clau', 'Vixo', 'Nelo', 'Mota'], 'Gato', 'Conejo', 'Raton', 'Leon']

#Ejercicio 15

Calcula la suma total de todas las ventas

In [48]:
tienda = {
    "ciudad": ["Lima", "Bogotá", "Quito", "Lima", "Buenos Aires", "Santiago", "Bogotá", "Quito", "Santiago", "Lima"],
    "producto": ["camisa", "pantalón", "zapatos", "camisa", "falda", "zapatos", "pantalón", "falda", "camisa", "zapatos"],
    "fecha": ["2025-05-01", "2025-05-02", "2025-05-01", "2025-05-03", "2025-05-02", "2025-05-03", "2025-05-04", "2025-05-05", "2025-05-05", "2025-05-06"],
    "ventas": [1500, 3200, 8500, 2700, 6000, 7200, 4100, 1800, 9500, 10500]
}

In [49]:
# Calcular la suma total de ventas
total_ventas = sum(tienda["ventas"])

# Mostrar el resultado
print(f"Suma total de todas las ventas: {total_ventas}")

Suma total de todas las ventas: 55000

#Ejercicio 16

- Por un descuento, debes reducir en 10% todas las ventas
- Actualiza la lista 'ventas' con los nuevos valores
- Muestra la nueva suma total de las ventas

In [50]:
# Aplicar un descuento del 10% a todas las ventas
tienda["ventas"] = [venta * 0.9 for venta in tienda["ventas"]]

# Mostrar la lista actualizada de ventas
print("Ventas actualizadas con el descuento del 10%:")
print(tienda["ventas"])

Ventas actualizadas con el descuento del 10%:
[1350.0, 2880.0, 7650.0, 2430.0, 5400.0, 6480.0, 3690.0, 1620.0, 8550.0, 9450.0]

In [51]:
# Calcular la nueva suma total de ventas después del descuento
nueva_suma_total = sum(tienda["ventas"])

# Mostrar el resultado
print(f"Nueva suma total de todas las ventas después del descuento: {nueva_suma_total}")

Nueva suma total de todas las ventas después del descuento: 49500.0

#Ejercicio 17

- Cambia el último elemento de producto
- Muestra solo la lista 'producto' actualizada

In [52]:
# Cambiar el último elemento de la lista "producto"
tienda["producto"][-1] = "bufanda"

# Mostrar la lista actualizada de productos
print("Lista actualizada de productos:")
print(tienda["producto"])

Lista actualizada de productos:
['camisa', 'pantalón', 'zapatos', 'camisa', 'falda', 'zapatos', 'pantalón', 'falda', 'camisa', 'bufanda']